# Laravel folders
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/ssr
/storage/public
/storage/logs/*.log
storage/logs/laravel.log
# Laravel environment & cache
.phpunit.result.cache
.phpunit.cache
.env

# Dependency / package managers
composer.lock
package-lock.json
public/manifest.json
public/logo.png
auth.json
npm-debug.log
yarn-error.log

# IDE/editor config files
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# OS-specific system files

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*
